/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff0090;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    top: 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

/* COMPANIES IN MIDDLE*/
.company-heads {
    display: flex;
    justify-content: center;
    padding: 5%;
    align-items: center;
    height: 50%;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
}

.company-heads img {
    display: flex;
    animation: move 3s infinite alternate ease-in-out;
    padding: 10%;
    height: 80%;
    width: auto;
}

footer {
    background-color: #ff0090;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}



#chatbot{
    display: flex;
}

.company-heads .btn{
position: absolute;
top: 50%; /* Adjust this value to move the button higher or lower */
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(255, 0, 144, 0.8); /* Semi-transparent background */
color: #fff;
padding: 5px 10px;
border: none;
cursor: pointer;
left: 5%;
}

.company-heads .btn:nth-of-type(1){
    position: relative;
}

.company-heads .btn:nth-of-type(2){
    position: relative;
}

.company-heads .btn:nth-of-type(3){
    position: relative;
}


.filled {
  position: absolute;
  opacity: 0;
  top: 20px;
  left: 22px;
}


/* Media Query for smaller screens */
@media (max-width: 768px) {
    .image {
        width: 40%; /* Resize images for smaller screens */
    }
}

@media (max-width: 480px) {
    .image {
        width: 50%; /* Further resizing for very small screens */
    }
}

/* Keyframes for Animation */
@keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(30px);
    }
}